<div class="d-flex aligh-items-center justify-content-center">
    <h1>Welcome to the root page</h1>
    
    <p class="text-danger position-absolute top-50 left-50">
        <%= notice %>
    </p>
    <br>
    <p class="d-none">
        I added the if statement because I don't want to show any error if the user is not there
        This if statement tells you that if the there's a user Print that user, if there is not .. well, don't show an error.
    </p>
</div>
